/* .container {
    background-image: url('../images/homeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 93vh;
    min-width: 99vw;
    
}

.search-box{
    width: 30vw;
} */